body
{
    background: linear-gradient(to right, blue, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container
{
   display: flex;
   justify-content:center;
   align-items: center;
}

.box
{
    width: 150px; height: 150px;
    text-align: center; border-radius: 15px;
    font-size: 8em;
    transform: translate(50px, 100px);
    transform: rotateZ(45deg);
    transform: skew(-45deg);
}
#box1
{
    background-color: red;

    transform: translate(50px, 100px);
    transform: rotateZ(45deg);
    transform: skew(-45deg);
   
}   
#box2
{
    background-color: green;

    transform: translate(60px, 150px);
    transform: rotateZ(40deg);
    transform: skew(-40deg);
   
}
#box3
{
    background-color: blue;

    transform: translate(70px, 200px);
    transform: rotateZ(35deg);
    transform: skew(-35deg);
   
}
#box4
{
    background-color: yellow;

    transform: translate(80px, 250px);
    transform: rotateZ(30deg);
    transform: skew(-30deg);
    
}