body
{
  background-image:url(/media/3353081.jpg);
  background-repeat:no-repeat;
  background-size: cover, contain;
  background-attachment: fixed;
  background-position: center;
}
.title
{
  margin: 0 auto;
  width: 100%;
  background: rgb(14, 7, 70);
  border-radius: 30px;
  text-align: center;
  color: white;
  position: relative;
  display: block;
  text-shadow: 0px 5px 5px gray, 0px -5px 5px darkgray;
}
.title::after
{
  content: "";
  position: absolute;
  background: radial-gradient(circle,teal,lightgreen,green,darkgreen,green,teal);
  inset: -4px;
  z-index: -1;
  border-radius: 30px;
    
}
.logo
{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
}
.text
{
  color: cyan;
  text-shadow: 3px 5px black;
  word-break: keep-all;
  text-align: center;
  font-size: 23px;
  margin: 2px;
  
}
