.navbar ul
{
    list-style-type: none;
    background-color: transparent;
    padding: none;
    margin: none;
    overflow: hidden;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    z-index: 1;
}
.navbar a
{
    color: pink;
    text-decoration: none;
    padding: 12px;
    display: block;
    text-align: center;
}
.navbar li
{
    float: left;
}
.navbar a:hover
{
    background-color: transparent;
    color: teal;
}