body
{
  background-image:url(/media/3353081.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
h1
{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid pink;
  border-radius:30px;
  background-color: rgb(60, 3, 94);
  color: beige;
  text-shadow: 3px 10px black;
  
}
.text
{
  color: cyan;
  text-shadow: 3px 5px black;
  word-break: keep-all;
  text-align: center;
  font-size: 23px;
  
}
.logo
{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
}
.container
{
  position: relative;
  transform: rotateX(45deg);
  transform: translateY(500px);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  transform: translate(-50px, 50px);
}
.button
{
  width: 100px; height: 100px;
  text-align: center; border-radius: 20px;
  font-size: 1em;
  margin:0;
  border: none;
}
#button1:hover
{
  background: linear-gradient(to left, gray, lightgray);
}
#button1
{
  background: linear-gradient(to right, rgb(160, 160, 235), rgb(156, 122, 248));
  
}
#button2:hover
{
  background: linear-gradient(to left, gray, lightgray);
}
#button2
{
  background: linear-gradient(to right, red, rgb(129, 93, 99));
 
}
#button3:hover
{
  background: linear-gradient(to left, gray, lightgray);
}
#button3
{
  background: linear-gradient(to right, blue, rgb(169, 167, 250));
}

